<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
      <services>
          <configurator type="SitecoreRedemption.Foundation.AIServices.DI.RegisterContainer, SitecoreRedemption.Foundation.AIServices" />
      </services>
  </sitecore>
</configuration>