<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
      <controlSources>
          <source mode="on" assembly="SitecoreRedemption.Feature.AIContentOptimizer" namespace="SitecoreRedemption.Feature.AIContentOptimizer.Fields" prefix="aicontent"/>
      </controlSources>
  </sitecore>
</configuration>